<% provide(:title, "О лицее") %>

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
	<li class="breadcrumb-item active"><a href="#">О лицее им.Н.В.Гоголя</a></li>
  </ol>
</nav>

<div class="row frontpage bl">
	<div class='col-md-12'>
		<h1 id='title' >О лицее</h1>
	</div>
	<div class="col-md-6">
		<p>
Лицей имени Н. В. Гоголя — среднее учебное заведение города Кишинёва с обучением на русском языке. Было основано М. В. Карчевским в 1901 году как частное реальное училище и воссоздано в 1946 году как средняя общеобразовательная школа № 37. В 1999 году школа приобрела статус лицея.
</p>
		<p>
Лицей рассчитан на 1560 учебных мест (по собственным данным один из самых крупных лицеев Кишинёва с русским языком обучения). Согласно положению о лицеях в Молдавии имеет три ступени: начальная школа — с 1 по 4 классы, гимназия — с 5 по 9 классы, лицей — с 10 по 12 классы. </p>
<p>Обучение проводится по двум профилям — реальному и гуманитарному. Выпускники 12-го класса заканчивают лицей с общеобразовательным дипломом и с дипломом бакалавра, а выпускники девятого могут дополнительно получить диплом об окончании музыкально-хорового класса, позволяющий продолжить обучение в музыкальных вузах. Для польской и немецкой диаспор в Кишинёве в лицее открыты польские и немецкие классы с обучением на русском языке, в которых дополнительно изучаются языки и культура упомянутых стран. В лицее проводятся Республиканские олимпиады по русскому языку и литературе, развита самодеятельность.

</p>

	</div>
	<div class="col-md-6">
		<img class="img6" src="img/gogol1.jpg">
	</div>
</div>
