<% provide(:title, "Contacts") %>

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
	<li class="breadcrumb-item active"><a href="#">Контакты</a></li>
  </ol>
</nav>

<div class="row frontpage bl">
	<div class='col-md-12'>
		<h1 id='title'>Контакты</h1>
	</div>
	<div class="col-md-6">
		<p><b>Адрес: </b>ул. Щусева, дом 90, MD-2012, Кишинев, Молдова</p>
		<p><b>Телефон: </b>+373 22 238 382</p>
		<br>
		<p><b>Директор: </b>Таисия Васильевна Аникьева</p>
		<p><b>Телефон: </b>+373 21 218 181</p>
	</div>
	<div class="col-md-6">
		<img class="img6" src="img/gogol.jpg">
	</div>
</div>
