<% provide(:title, "Reviews") %>

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
	<li class="breadcrumb-item active"><a href="#">Отзывы выпускников</a></li>
  </ol>
</nav>

<div class='row frontpage bl'>
	<div class='col-md-12'>
		<h1 id='title' >Отзывы выпускников</h1>
	</div>

	<div class='col-md-3'>
		<img class="rounded-circle img" src="img/rev_elena.jpeg">
	</div>
	<div class='col-md-9'>
		<h3 class="author">Елена<small class='text-muted'> &#8211; выпуск 2009</small></h3>
		<p class="review">Огромное спасибо за Вашу искренность, отзывчивость, заботу. Ваш труд-это великое богатство каждого вашего ученика! Пусть ещё многим ученикам предстоит в жизни гордиться тем, что им довелось учиться у Вас.
		</p>
	</div>
</div>

<hr class="style-one">

<div class='row bl'>
	<div class='col-md-3'>
		<img class="rounded-circle img" src="img/rev_an.jpg">
	</div>
	<div class='col-md-9'>
		<h3 class="author">Анатолий<small class='text-muted'> &#8211; выпуск 2016</small></h3>
		<p class="review">Об этой школе у меня самые светлые воспоминания! Я перешла в неё в 7 классе. Разница с районной колоссальная!!! Начиная от атмосферы царящей в стенах этого заведения и заканчивая преподавательским составом! Эти чудесные люди не только обучали нас, но и раскрывали таланты, развивали нас культурно и эстетически. С каждым годом после окончания школы моя благодарность к нашим учителям только растет. 
		</p>
	</div>
</div>

<hr class="style-one">

<div class='row bl'>
	<div class='col-md-3'>
		<img class="rounded-circle img" src="img/rev_svet.jpg" >
	</div>
	<div class='col-md-9'>
		<h3 class="author">Светлана<small class='text-muted'> &#8211; выпуск 2014</small></h3>
		<p class="review">О лицее у меня только самые тёплые воспоминания. Уровень подготовки очень высокий, что дает возможность поступить в ВУЗ без репетиторов. Много интересных внеклассных занятий, много традиций, отличающих лицей от обычных школ.
		</p>
	</div>
</div>
